.header {
	font-family: Arial, Helvetica, sans-serif;
}

.header-caption {
	font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
}
.nav-bar > div {
	padding: 10px;
}

.grid-container{
	position:relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 100px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.grid-item{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-20%,-50%);
}