.header {
	font-family: Arial, Helvetica, sans-serif;
}

.header-caption {
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	background-color: #BCD2E8;
	overflow: hidden;
  }
  .navbar a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	float: left;
	color: black;
	padding: 14px 14px;
  }
  .navbar a:hover {
	background-color: #2E5984;
	color: white;
  }
  .navbar a.active {
	background-color: #2E5984;
	color: white;
  }

.main-body > div {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.main-image{
	max-width: 100%;
	height: auto;
}

.music-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,auto));
	grid-gap: 10px;
	padding-top: 10px;
}

.photos-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,auto));
	grid-gap: 10px;
	padding-top: 10px;
	padding-top: 10px;
	justify-content: center;
	align-items: normal;
}

.photos-container > div > img{
	max-width: 100%;
	height: auto;
	cursor: pointer;
}
.videos-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,auto));
	grid-gap: 10px;
	padding-top: 10px;
}

.videos-container > div > iframe{
	max-width: 100%;
}


.scrollTop{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #2E5984;
	color:white;
	outline: none;
	border-color:#2E5984;
}

.scrollTop:active{
	background-color: #1E3F66;
}
/* I got really confused with lightboxes because
all the tutorials online also had slideshows and modals
I followed this tutorial:  https://www.youtube.com/watch?v=uKVVSwXdLr0*/
#lightbox{
	position: fixed;
	z-index:1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;
}

#lightbox.active{
	display:flex;
	justify-content: center;
	align-items: center;
}

#lightbox img{
	padding: 4px;
	background-color: black;
	border: 2px solid white;
}